@import url('https://fonts.googleapis.com/css?family=Pacifico|Varela+Round&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
font-family: 'Varela Round', sans-serif;
}

canvas {
	width: 100%;
	height: 100%;
	background: #eee;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	background: linear-gradient(90deg, #45fce4, #04cb03);
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: hidden;
}

.nav-link {
	padding: 10px 50px;
	text-decoration: none;
	color: black;
	letter-spacing: 1px;
	transition: transform 400ms ease;
	overflow: hidden;
}

.active {
	background-color: #f19fad;

}

.wrapper {
	width: 300px;
	height: 300px;
	margin: 50px auto;
	padding: 0px;
	display: flex;
	border-radius: 4px;
	background-color: #FAFAFA;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
							0 1px 2px rgba(0,0,0,0.24);
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	background: linear-gradient(90deg, #FF2A78, #F100AE);
	overflow: hidden;
}

.links {
	margin-bottom: 10px;
	display: block;
	padding: 10px;
	width: 100%;
	text-decoration: none;
	text-align: center;
	color: white;
	justify-content: center;
	background: linear-gradient(90deg, #FF2A78, #F100AE);
	z-index: 2;
	transition: transform 400ms ease;
}

a:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
							0 1px 2px rgba(0,0,0,0.24);
	transform: scale(1.2);
	/* text-transform: uppercase; */
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 20px;
	text-align: center;
	color: white;
}

.footer p, a{
	letter-spacing: 1px;
	text-decoration: none;

}

.footer a {
	color: white;
	text-decoration: underline;
}

header {
	text-align: center;
	padding: 20px;
	color: white;
	font-size: 1.5em;
	font-family: 'Pacifico', cursive !important;
}

#eraser{
	margin: 0 10px 5px;
}

.footer-text img{
	margin-bottom: -10px;
}

.links img{
	margin-bottom: -5px;
}